@model IEnumerable<Mvc.Models.Cliente.ClienteViewModel>

@{
    ViewData["Title"] = "Clientes";
}
<h1>Clientes</h1>

<hr />
<div class="d-flex justify-content-between">
    <p><a asp-action="CreateOrEdit" asp-controller="Cliente" class="btn btn-primary">Novo</a></p>
    <form method="post">
        <div class="d-flex">
            <input name="filter" type="text" class="form-control mr-2" value="@ViewBag.Filter" />
            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Cpf/Cnpj</th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td>Não há clientes cadastrados</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="CreateOrEdit" asp-controller="Cliente" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteCliente('@item.Id', '@item.Nome')">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="deleteClienteModal">
    <div class="modal-dialog modal-dialog-centered" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Exclusão</h5>
                <button type="button" class="btn" onclick="closeDeleteClienteModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o(a) <span id="deletingClienteName"></span> ?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="Id" id="deletingClienteId" value="" />
                    <button type="button" class="btn btn-default" onclick="closeDeleteClienteModal()">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        function deleteCliente(id, name) {
            $("#deletingClienteName").html(name)
            $("#deletingClienteId").val(id)
            $('#deleteClienteModal').modal('show');
        }

        function closeDeleteClienteModal() {
            $('#deleteClienteModal').modal('hide')
        }
    </script>
}