@model IEnumerable<Mvc.Models.Pedido.PedidoViewModel>

@{
    ViewData["Title"] = "Pedidos";
}
<h1>Pedidos</h1>

<hr />
<p>
    <a asp-action="CreateOrEdit" asp-controller="Pedido" class="btn btn-primary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Última atualização
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td>Não há pedidos cadastrados</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @if (item.Status == 'A')
                    {
                        <span>Aberto</span>
                    }
                    else if (item.Status == 'F')
                    {
                        <span>Fechado</span>
                    }
                    else
                    {
                        <span>Cancelado</span>
                    }
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAtualizacao)
                </td>
                <td>
                    <a asp-action="CreateOrEdit" asp-controller="Pedido" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a>
                    @if (item.Status == 'A')
                    {
                        <a asp-action="PedidoItem" asp-controller="Pedido" asp-route-id="@item.Id" class="btn btn-info btn-sm">Itens</a>
                        <button class="btn btn-primary btn-sm" type="button" onclick="closePedido('@item.Id', '@item.NomeCliente')">Fechar</button>
                        <button class="btn btn-danger btn-sm" type="button" onclick="cancelPedido('@item.Id', '@item.NomeCliente')">Cancelar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="closePedidoModal">
    <div class="modal-dialog modal-dialog-centered" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Exclusão</h5>
                <button type="button" class="btn" onclick="closeClosePedidoModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja fechar o pedido do(a) <span id="closePedidoName"></span> ?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Close" method="post">
                    <input type="hidden" name="Id" id="closePedidoId" value="" />
                    <button type="button" class="btn btn-default" onclick="closeClosePedidoModal()">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelPedidoModal">
    <div class="modal-dialog modal-dialog-centered" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Exclusão</h5>
                <button type="button" class="btn" onclick="closeCancelPedidoModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja cancelar o pedido do(a) <span id="cancelPedidoName"></span> ?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Cancel" method="post">
                    <input type="hidden" name="Id" id="cancelPedidoId" value="" />
                    <button type="button" class="btn btn-secondary" onclick="closeCancelPedidoModal()">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        function closePedido(id, name) {
            $("#closePedidoName").html(name)
            $("#closePedidoId").val(id)
            $('#closePedidoModal').modal('show');
        }

        function cancelPedido(id, name) {
            $("#cancelPedidoName").html(name)
            $("#cancelPedidoId").val(id)
            $('#cancelPedidoModal').modal('show');
        }

        function closeClosePedidoModal() {
            $('#closePedidoModal').modal('hide')
        }

        function closeCancelPedidoModal() {
            $('#cancelPedidoModal').modal('hide')
        }
    </script>
}
